# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ESP32/.vscode/

ESP32/lib/cobs-c/README.rst

ESP32/.pio/

ESP32/.travis.yml

Matlab/tmp_simSignal.bin

Matlab/tmp_simSignal_1.bin

Matlab/tmp_simSignal_2.bin
